node_modules
dist
.DS_Store
*.log
.vite
*.tsbuildinfo
.turbo
packages/cli/template/.agents/skills
packages/core/e2e/.scratch
playwright-report
test-results
.DS_Store
.vscode/
apps/demo/export
apps/web/out
packages/cli/template/ui
packages/cli/template/lib
packages/cli/template/hooks
packages/cli/template/styles
packages/cli/template/components.json
